################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DeployAppSolution/FileContentIndex/18632401-4138-4785-bbe4-8796c1e464af.vsidx
/.vs/DeployAppSolution/DesignTimeBuild/.dtbcache.v2
/.vs/DeployAppSolution/DesignTimeBuild/.dtbcache.v2
